<%-include('partials/header')%>
<body>
   
<div class = "container">
  
    <div class="details-list">
       
        
    <% for(detail of details){%>
        
        <h1 class="heading"><%= detail.name %></h1>
        <li>Username:<%= detail.username%></li>
        <li>Url:
            <a href="<%='https://' + detail.url %>" target="__blank"><%= detail.name %></a>
        
        </li>
        
            
        
        <li>
            <input type ="password" id="password-input" class="signup-input" value = <%= password %> />
        </li>
        <%=detail.name%>        
            <i class="far fa-eye" id="password"></i>
        
        

<%}%>

</div>
</div>
<script>
    const button = document.querySelector("#password")
    const input = document.querySelector('#password-input')
  button.addEventListener("click", ()=>{
      if(input.type ==="password"){
         input.type="text"
      } else{
          input.type="password"
      }
      
  }) 
</script>

</body>
</html>