
<%-include('partials/header')%>
<body>
    
    <div class="container">
        <i class="fas fa-user-circle fa-3x"></i>
        <div class="modal">
            <p class="email"><%= locals.email %></p>
            <a href='/logout'>Logout</a>

        </div>
        
        <img class="shape" src="/Images/Oreti.png"/>
    <div class="password-container">
        
       
        
       <h1 class="heading">Your Passwords</h1>
     
    <% for (result of results){%>
        
        <div class="password-list">
           
                <li><a href='/main/<%=result.id%>''><%=result.name%></a></li>
            
<form action='/delete/<%=result.id%>' method="POST">
        <input type="submit" value="X" class="delete">
        
       
       </form>
      
    
</div>
<%}%>

<a href="/form">
    <i class="fas fa-plus fa-3x"></i>
</a>
</div>
</div>
</div>
<script>
    const user = document.querySelector('.fa-user-circle')
    const modal = document.querySelector('.modal')
   
    user.addEventListener('click',()=>{
        
        if(modal.style.display === 'none'){
            console.log('none')
            modal.style.display = 'block'

        } else {
            modal.style.display = 'none'
            console.log('block')
        }
       
        
    })
</script>
</body>
    </html>